<p-dialog header="{{ modelType }} Product" [(visible)]="displayAddEditModal" [style]="{ width: '30vw' }"
  [draggable]="false" [resizable]="false" (onHide)="closeModal()" position="right" [modal]="true" [baseZIndex]="10000"
  [transitionOptions]="'0.3s ease-out'">

  <form [formGroup]="productForm" class="product-form">
    <div class="field">
      <label class="block" for="title">Title</label>
      <input type="text" pInputText id="title" formControlName="title" />
      <small class="block p-error" *ngIf="productForm.controls['title'].invalid && productForm.controls['title'].dirty">
        Field is required
      </small>
    </div>
    <div class="field">
      <label class="block" for="price">Price</label>
      <p-inputNumber id="price" formControlName="price" class="block"></p-inputNumber>
      <small class="block p-error" *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].dirty">
        Field is required</small>
    </div>
    <div class="field">
      <label class="block" for="description">Description</label>
      <textarea pInputTextarea id="description" formControlName="description"></textarea>
    </div>
    <div class="field">
      <label class="block" for="image">Image</label>
      <input type="text" pInputText id="image" formControlName="image" />
      <small class="block p-error" *ngIf="productForm.controls['image'].invalid && productForm.controls['image'].dirty">
        Field is required
      </small>
    </div>
    <div class="field">
      <label class="block" for="category">Category</label>
      <input type="text" pInputText id="category" formControlName="category" />
      <small class="block p-error"
        *ngIf="productForm.controls['category'].invalid && productForm.controls['category'].dirty">
        Field is required
      </small>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" severity="danger" styleClass="p-button-text" (click)="closeModal()" />
    <p-button label="{{ modelType }}" (click)="addEditProduct()" [disabled]="productForm.invalid" />
  </ng-template>
</p-dialog>